<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <link href="../../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href="../../styles/main.css" rel="stylesheet" />
     
        <script src="../../cordova.js"></script>
        <script src="../../kendo/js/jquery.min.js"></script>
        <script src="../../kendo/js/kendo.mobile.min.js"></script>
    </head>
    
    <body>
        <div id="notruf" data-role="view" data-layout="menu-drawer-layout" data-title="Notruf" data-use-native-scrolling="true" data-model="app.notruf">                 
            <div id="divNotrufbutton" align="center">
                <img id="icon" style="margin-top:10%" data-role="button" alt="Vitakt Sender" src="../../styles/images/Vitakt-Sender.png" data-bind="events: { click: onNotrufClick }" />
            </div>
        </div>
    </body>
</html>

