<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <link href="../../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href="../../styles/main.css" rel="stylesheet" />     
    </head>
    
    <body>
        <div id="device" data-role="view" data-layout="menu-drawer-layout" data-title="---" data-use-native-scrolling="true">                 
            <div id="devicenotsupported" align="center" style="margin-top: 30%;">
                <span style="font-size: 1.6em; font-weight: bold;">Dieses Gerät wird von der Anwendung leider nicht unterstützt!</span>
                <table style="display: block; margin-left: 5px; margin-top: 20px; font-size: 1.2em;">
                    <tr>
                        <td colspan="2" style="text-decoration: underline">Systemanforderungen</td>
                    </tr>
                    <tr>
                        <td>iPhone: iOS 6.1 erforderlich</td>
                    </tr>
                    <tr><br></tr>
                    <tr><br></tr>
                    <tr>
                        <td>Android: Version 4.x</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>

