<html>
     
<head>
</head>
    <body>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSH7oUP4xxZpuP3f0tP1nAFsrwksFS2_A&callback=loadMap"></script>
            
        <div data-role="view" data-title="Standort" 
            data-stretch="true"
                data-layout="menu-drawer-layout" style="width:100%; height:100%;">
            <!-- START_CUSTOM_CODE_contactsView -->
            <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
            
                
                
                <!--
            
            margin-bottom auf -25 damit die Links für die Googleseiten nicht sichtbar sind!
                    Wenn auf einen solchen Link geklickt wird, erscheint die entspr. Seite in der
                    App aber es kann nicht zurück navigiert werden.
                    -->
               
                   
            <div id="map-canvas" align="center" >
            </div>
            <!-- END_CUSTOM_CODE_contactsView -->
        </div>
    </body>
    
</html>